html,body{
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}
body {
    //背景图片覆盖，居中
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-position: center center;
    font:14px 'microsoft yahei';
    color:#333;
    font-weight: 500;
}